### MySql Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:
A database is an organized collection of structured data that is stored and managed in a computer system. It allows users to store, retrieve, update, and manage data efficiently.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of databases with different data models, structures, and querying languages.

SQL databases are relational databases that organize data into tables with rows and columns, with each row being a unique record. These databases use SQL as their querying language and enforce a fixed schema that defines the structure of the data. SQL databases are widely used for applications that require complex queries, data integrity, and ACID (Atomicity, Consistency, Isolation, and Durability) properties. Examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL Server, and SQLite.

On the other hand, NoSQL databases are non-relational databases that organize data in a variety of ways, such as document-based, key-value, graph-based, and column-based models. NoSQL databases are designed to handle unstructured or semi-structured data and provide flexibility, scalability, and high performance. They do not enforce a fixed schema, and data can be added or removed without the need for a predefined structure. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, Redis, and Amazon DynamoDB.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database structures such as tables, indexes, and constraints.

CREATE: The CREATE statement is used to create database objects such as tables, views, indexes, and procedures. For example, the following SQL statement creates a table named "employees" with three columns: id, name, and age.

In [ ]:
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT
);

DROP: The DROP statement is used to delete database objects such as tables, views, and indexes. For example, the following SQL statement drops the "employees" table:

In [ ]:
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of existing database objects such as tables and views. For example, the following SQL statement adds a new column "salary" to the "employees" table:

In [ ]:
ALTER TABLE employees ADD COLUMN salary INT;

TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but not the table structure itself. For example, the following SQL statement deletes all data from the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is used to modify the data stored in a database. The three primary DML commands are INSERT, UPDATE, and DELETE.

INSERT: This command is used to insert new rows into a table.

In [ ]:
INSERT INTO students (name, age, gender)
VALUES ('John', 25, 'Male');

UPDATE: This command is used to update existing rows in a table

In [ ]:
UPDATE students
SET age = 26
WHERE name = 'John';

DELETE: This command is used to delete rows from a table.

In [ ]:
DELETE FROM students
WHERE name = 'John';

#### Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is used to retrieve data from a database. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

Suppose we have a table named "employees" with the following data:

In [ ]:
+----+----------+-----------+----------+
| id |   name   |  position |  salary  |
+----+----------+-----------+----------+
|  1 | John     | Manager   | 100000   |
|  2 | Jane     | Engineer  | 75000    |
|  3 | Bob      | Engineer  | 80000    |
|  4 | Alice    | Manager   | 120000   |
|  5 | Charlie  | Intern    | 30000    |
+----+----------+-----------+----------+

To retrieve the names and salaries of all employees who are engineers, we can use the following SELECT statement:

In [ ]:
SELECT name, salary FROM employees WHERE position = 'Engineer';

This will give us the following result set:

In [ ]:
+--------+--------+
|  name  | salary |
+--------+--------+
| Jane   | 75000  |
| Bob    | 80000  |
+--------+--------+

### Q5. Explain Primary Key and Foreign Key.

Ans: A Primary Key (PK) is a column or set of columns that uniquely identifies each record in a table. It can be a single column or a combination of columns that can be used to identify a unique record. Primary keys must be unique and cannot contain null values. They are used to enforce data integrity and ensure that there are no duplicate rows in a table.

A Foreign Key (FK) is a column or set of columns in a table that references the primary key of another table. It is used to establish a relationship between two tables in a database. The foreign key ensures referential integrity between the two tables, meaning that any data added to the child table must exist in the parent table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SELECT query
mycursor.execute("SELECT * FROM yourtable")

# Fetch all the rows
rows = mycursor.fetchall()

# Print the rows
for row in rows:
  print(row)

Explanation:

1. First, we import the mysql.connector module.
2. Then, we use the connect() method to connect to MySQL by passing the required parameters such as the host, username, password, and database name.
3. Next, we create a cursor object using the cursor() method of the connection object. The cursor is used to execute SQL queries and fetch results.
4. We use the execute() method of the cursor object to execute a SELECT query. Here, we have passed the query as a string.
5. Once the query is executed, we use the fetchall() method of the cursor object to fetch all the rows.
6. Finally, we iterate over the rows using a loop and print them one by one.

The cursor() method returns a cursor object, which is used to interact with the database. The execute() method of the cursor object is used to execute SQL queries. It takes the SQL query as a string parameter and returns the result of the query.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: specifies the table(s) to retrieve data from.
2. JOIN clause: links two or more tables based on a related column between them.
3. WHERE clause: filters the data based on a condition.
4. GROUP BY clause: groups the data based on a column or set of columns.
5. HAVING clause: filters the data based on a condition applied to groups created by the GROUP BY clause.
6. SELECT clause: selects the columns to retrieve from the table(s).
7. ORDER BY clause: sorts the result set based on one or more columns.
8. LIMIT clause: limits the number of rows returned by the query.