### Pandas Advance -II, Assignment

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [12]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [13]:
# printing the data present in the second row of the df
# print(df[:][1:2])
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#### "loc"
loc is primarily label based and is used to select rows or columns by label/index. This means that the selections made using loc are based on the labels of the rows and columns, rather than their positions in the dataframe.

In [7]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})

# selecting a row using the row label
df.loc[0]

# selecting rows based on boolean indexing
df.loc[df['A'] > 1]

# selecting a subset of rows and columns based on label indices
df.loc[[0, 2], ['A', 'B']]

   A  B
0  1  a
2  3  c

#### "iloc"
iloc is primarily integer position based and is used to select rows or columns by their integer position. This means that the selections made using iloc are based on the position of the rows and columns, rather than their labels.

In [8]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'c']})

# selecting a row using the integer position
df.iloc[0]

# selecting rows based on integer indexing
df.iloc[[0, 2]]

# selecting a subset of rows and columns based on integer positions
df.iloc[[0, 2], [0, 1]]

   A  B
0  1  a
2  3  c

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [34]:
#code:

import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [35]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.292525  0.381158  0.266712  0.025572  0.676792  0.939636
2  0.141972  0.706632  0.033348  0.912901  0.831736  0.015492
3  0.190029  0.052104  0.469710  0.342121  0.008562  0.955301
4  0.876206  0.795343  0.881845  0.628331  0.712468  0.072224
5  0.109947  0.113382  0.680598  0.322515  0.625693  0.724279
6  0.305648  0.766887  0.612797  0.386876  0.410340  0.249063

In [36]:
#reindex using the given reindex variable:

reindex = [3,0,1,2]

#create new df with new index
new_df = df1.reindex(reindex)

In [37]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.190029  0.052104  0.469710  0.342121  0.008562  0.955301
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.292525  0.381158  0.266712  0.025572  0.676792  0.939636
2  0.141972  0.706632  0.033348  0.912901  0.831736  0.015492

In [38]:
new_df.loc[2]

column_1    0.141972
column_2    0.706632
column_3    0.033348
column_4    0.912901
column_5    0.831736
column_6    0.015492
Name: 2, dtype: float64

In [39]:
new_df.iloc[2]

column_1    0.292525
column_2    0.381158
column_3    0.266712
column_4    0.025572
column_5    0.676792
column_6    0.939636
Name: 1, dtype: float64

##### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
- (i) mean of each and every column present in the dataframe.
- (ii) standard deviation of column, ‘column_2’

In [40]:
# mean for dataframe df1
mean = df1.mean()

In [41]:
mean

column_1    0.319388
column_2    0.469251
column_3    0.490835
column_4    0.436386
column_5    0.544265
column_6    0.492666
dtype: float64

In [44]:
# standard deviation of column, 'column_2'
std = df1['column_2'].std()